<div class="container">
    <h1>{{ title }}</h1>
    <div class="row">
        <div class="col-lg-4 order-lg-last">
            <div class="card mx-auto" style="width: 18rem;">
                <div id="card_photo">
                <img src="{{ asset('Photos/no_picture.png') }}" alt=""
                     class="card-img-top" id="card_picture">
                </div>
                <div class="card-body">
                    <h5 class="card-title" id="card_name">
                        {% if formulaire.Nom.vars.value is not empty %}
                            {{ formulaire.Nom.vars.value }}
                        {% else %}
                            Nom du chat
                        {% endif %}
                    </h5>
                    <p class="card-text" id="card_sterilize">
                        <span>{% if formulaire.Sterilise.vars.checked == true %}
                                Stérilisé
                            {% else %}
                                Non stérilisé
                            {% endif %}
                        </span>
                    </p>
                    <div class="btn btn-warning disabled" style="cursor: not-allowed; pointer-events:initial">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-pencil"
                             viewBox="0 0 16 16">
                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                        </svg>
                        Modifier
                    </div>
                    <div class="btn btn-danger disabled" style="cursor: not-allowed; pointer-events:initial">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-trash"
                             viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd"
                                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                        Supprimer
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 order-lg-first">
            {{ form_start(formulaire) }}
            {{ form_row(formulaire.Categorie) }}
            {{ form_row(formulaire.Nom) }}
            {{ form_row(formulaire.Sterilise) }}
            <div class="mb-3" style="height: min-content">
                <label>Image</label>
            {{ form_widget(formulaire.SourcePhoto) }}
            </div>
            <div id="fileLocal">
                <div class="input-group has-validation">
                    {{ form_widget(formulaire.File) }}
                    <div class="invalid-feedback">
                        Seul les formats JPEG, PNG, GIF, SVG, WEBP ou APNG sont acceptés.
                    </div>
                </div>
                <div class="preview row">
                    <p>Aucun fichier sélectionné pour le moment</p>
                </div>
            </div>
            <div id="imageURL">
                {{ form_label(formulaire.PhotoURL) }}
                {{ form_widget(formulaire.PhotoURL) }}
                <div class="invalid-feedback">
                    L'URL ne correspond à aucune image.
                </div>
            </div>
            {{ form_widget(formulaire.Photo) }}
            {{ form_row(formulaire.proprietaire_id) }}
            {% if (formulaire.proprietaire_id.vars.value == []) %}
            <p>Aucun propriétaire enregistré</p>
            {% endif %}
            {{ form_end(formulaire) }}
        </div>
    </div>
</div>

<script>
    var imagePathInitial = "{{ formulaire.Photo.vars.value }}";
    var inputFile = document.querySelector('#chaton_File');
    var localFile = document.querySelector('#fileLocal');
    var imageURL = document.querySelector('#imageURL');
    var inputURL = document.querySelector('#chaton_PhotoURL');
    var preview = document.querySelector('.preview');
    var button_delete = document.createElement('button');
    button_delete.setAttribute('type', 'button');
    button_delete.setAttribute('class', 'btn btn-danger');
    button_delete.setAttribute('id', 'delete_picture');
    button_delete.setAttribute('onclick', 'deletePicture()');
    button_delete.innerHTML = 'Supprimer';

    var button_rollback = document.createElement('button');
    button_rollback.setAttribute('type', 'button');
    button_rollback.setAttribute('class', 'btn btn-danger');
    button_rollback.setAttribute('id', 'delete_picture');
    button_rollback.setAttribute('onclick', 'deletePicture()');
    button_rollback.innerHTML = 'Image initiale';
    var input_group = document.querySelector('.input-group');

    var card_name = document.querySelector('#card_name');
    var card_sterilize = document.querySelector('#card_sterilize');
    var card_picture = document.querySelector('#card_picture');
    var input_name = document.querySelector('#chaton_Nom');
    var input_sterilize = document.querySelector('#chaton_Sterilise');
    var radioButtonGroup = document.getElementsByName("chaton[SourcePhoto]");
    var checkedRadio = Array.from(radioButtonGroup).find(
        (radio) => radio.checked
    );
    for (var i = 0; i < radioButtonGroup.length; i++) {
        radioButtonGroup[i].addEventListener('change', function () {
            radioButtonChange(this.value);
            checkedRadio = this.value;
        });
    }


    radioButtonChange(checkedRadio.value);

    function radioButtonChange(radioValue) {
        if (radioValue === '0') {
            cardImageFile()
            localFile.hidden = false;
            inputFile.required = true;
        } else {
            localFile.hidden = true;
            inputFile.required = false;
        }
        if (radioValue === '1') {
            cardImageUrl();
            imageURL.hidden = false;
            inputURL.required = true;
        } else {
            imageURL.hidden = true;
            inputURL.required = false;
        }
        if (radioValue ==='2') {
            initialImage();
        } else if (radioValue === '3') {
            set_picture_card('{{ asset('Photos/no_picture.png') }}');
        }
        checkedRadio = radioValue;
    }



    // Preview image
    inputFile.addEventListener('change', updateImageDisplay);


    function isImgLink(url) {
        if(typeof url !== 'string') return false;
        return(url.match("^((http|https)://)(www[.])?([a-zA-Z0-9]|-)+([.][a-zA-Z0-9(-|/|=|?)?]+)+$") != null);
    }

    function isImageUrl(url) {
        const img = new Image();
        img.src = url;
        return new Promise((resolve) => {
            img.onerror = () => resolve(false);
            img.onload = () => resolve(true);
        });
    }

    function updateImageDisplay() {
        var curFiles = inputFile.files;
        while (preview.firstChild) {
            preview.removeChild(preview.firstChild);
        }
        if (curFiles.length === 0) {
            input_group.removeChild(document.querySelector('#delete_picture'));
            cardImageFile()
        } else {
            var list = document.createElement('div');
            list.className = 'col-2 mx-auto text-center';
            list.id = 'preview_div';
            preview.appendChild(list);
            var para = document.createElement('p');
            input_group.insertBefore(button_delete, input_group.childNodes[2]);
            input_group.ch
            cardImageFile()
            if (validFileType(curFiles[0])) {
                para.attributes.hidden = true;
                var image = document.createElement('img');
                image.style.order = '1';
                image.className = 'img-fluid';
                image.src = window.URL.createObjectURL(curFiles[0]);
                list.appendChild(image);
                inputFile.classList.remove('is-invalid');
            } else {
                para.attributes.hidden = false;
                set_picture_card('{{ asset('Photos/no_picture.png') }}');
                inputFile.classList.add('is-invalid');
            }
        }
    }

    var fileTypes = [
        'image/jpeg',
        'image/png',
        'image/gif',
        'image/svg+xml',
        'image/webp',
        'image/apng'
    ]

    function validFileType(file) {
        for (var i = 0; i < fileTypes.length; i++) {
            if (file.type === fileTypes[i]) {
                return true;
            }
        }
        return false;
    }

    function returnFileSize(number) {
        if (number < 1024) {
            return number + ' octets';
        } else if (number >= 1024 && number < 1048576) {
            return (number / 1024).toFixed(1) + ' Ko';
        } else if (number >= 1048576) {
            return (number / 1048576).toFixed(1) + ' Mo';
        }
    }

    function deletePicture() {
        inputFile.value = '';
        updateImageDisplay();
    }
    // End preview image

    input_name.addEventListener('input', function () {
        if (input_name.value === '') {
            card_name.innerHTML = 'Nom du chat';
        } else {
            card_name.innerHTML = input_name.value;
        }
    });

    var sterilize = document.querySelector('label[for="chaton_Sterilise"]');

    input_sterilize.addEventListener('change', function () {
        if (input_sterilize.checked) {
            card_sterilize.innerHTML = '<span>Stérilisé</span>';
        } else {
            card_sterilize.innerHTML = '<span>Non stérilisé</span>';
        }
    });
    inputURL.addEventListener('input', cardImageUrl);

    var card_photo = document.querySelector('#card_photo');

    function loading_picture() {
        card_photo.innerHTML = '<div class="d-flex justify-content-center mt-5 mb-3"> <div class="spinner-border" role="status"> </div> <span class="ms-3">Chargement...</span></div>';
    }

    function reset_picture(){
        card_photo.innerHTML = '<img src="" alt="" class="card-img-top" id="card_picture">'
    }

    function set_picture_card(url){
        document.querySelector('#card_picture').src = url;
    }


    function cardImageUrl () {
        if (isImgLink(inputURL.value)) {
            loading_picture()
            isImageUrl(inputURL.value).then((result) => {
                reset_picture()
                if (result) {
                    set_picture_card(inputURL.value);
                    inputURL.classList.remove('is-invalid');
                } else {
                    set_picture_card('{{ asset('Photos/no_picture.png') }}');
                    inputURL.classList.add('is-invalid');
                }
            });
        } else {
            set_picture_card('{{ asset('Photos/no_picture.png') }}');
        }
    };

    function cardImageFile () {
        var curFiles = inputFile.files;
        if (curFiles.length === 0 || !validFileType(curFiles[0])) {
            set_picture_card('{{ asset('Photos/no_picture.png') }}');
        } else {
            set_picture_card(window.URL.createObjectURL(curFiles[0]));
        }
    };


    function initialImage () {
        if (isImgLink('{{ formulaire.Photo.vars.value }}')) {
            console.log("isImgLink");
            set_picture_card('{{ formulaire.Photo.vars.value }}');
        }else if ('{{ formulaire.Photo.vars.value }}' != null && '{{ formulaire.Photo.vars.value }}' !== '') {
            set_picture_card('{{ asset('Photos/'~formulaire.Categorie.vars.value~"/"~formulaire.Photo.vars.value) }}');
            console.log("isImgLocal");
        } else {
            set_picture_card('{{ asset('Photos/no_picture.png') }}');
        }
        return null;
    }

    button_submit = document.querySelector('#chaton_OK');
    form = document.querySelector('form[name="chaton"]');

    const submit_orignial = button_submit.innerHTML;
    function submit_loading() {
        button_submit = document.querySelector('#chaton_OK');
        button_submit.innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Chargement...';
        button_submit.disabled = true;
    }
    function reset_submit() {
        button_submit = document.querySelector('#chaton_OK');
        button_submit.innerHTML = submit_orignial;
        button_submit.disabled = false;
    }

    form.addEventListener('submit', function (e) {
        submit_loading();
        if (checkedRadio !== '1'){
            inputURL.value = '';
        }else if (isImgLink(inputURL.value)) {
            e.preventDefault();
        isImageUrl(inputURL.value).then(function (result){
            if (result) {
                form.submit();
            } else {
                inputURL.classList.add('is-invalid');
                reset_submit();
            }
        } )
        }else{
            e.preventDefault()
            inputURL.classList.add('is-invalid');
            reset_submit();
        }
        isImageUrl(inputURL.value).then(console.log);
        if(checkedRadio !== '0'){
            inputFile.value = '';
            console.log("clear file");
        }
    })

</script>